
.colored-section{
  background-color: #3b6978;
  color: white;

}
#title .container-fluid{
  padding: 3% 15% 3%;
}


.navbar-brand{
  font-size: 1.5rem;
}
.brand-logo{
  width: 20%;
}
.nav-link{
  font-size: 1.2rem;
  font-weight:100;
}
.title-image{
  width: 60%;
}

.slogan{
  padding-right: 30px;
}
.container-fluid{
    padding: 3% 15% 5%;
}
.about-img{
  width: 80%;

  text-align: center;
}

.carousel-item{
  text-align: center;
}

.d-block {
  height: auto;
  width: auto;
}
.card-text{
  color: black;
}
.card-title{
  color: #3b6978;
}
.card-body{
  text-align: center;
}
.col{
  text-align: center;

}
i{
  margin: 30px auto;
  color: #639a67;
}
#contact{
  text-align: center;
}
.footer-icon{
  color:white;

}
.mapouter{

}
.gmap_canvas {
  padding-top:15px;
  overflow:hidden;
  background:none!important;

}
